<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/asses/favicon/Logo_Img.svg"
      type="VietHub Airline"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"/>

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/style_reservation.css" />
    
    <title>VietHub Airline</title>
  </head>
  <body>

    <!-- header -->
    <header class="header">
      <div class="menu">
        <!-- Logo -->
        <a href="./"
          ><img
            src="/asses/favicon/Logo_Gr.svg"
            alt="Shine smile"
            class="logo header__logo"
        /></a>
        <!-- Navbar  -->
        <nav class="navbar">
          <ul class="navbar__list" id="navbar__list--pc">
            <li class="navbar__item">
              <a href="/templates/index.html" class="navbar__link">Home</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index_search.html" class="navbar__link">Search</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index_booking.html" class="navbar__link">Booking</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index.html" class="navbar__link">About</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index.html" class="navbar__link">Contact</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index_adding.html" class="navbar__link">BookTicket</a>
            </li>
          </ul>
        </nav>
        <!-- cta action -->
        <div class="header__action">
          <a href="/templates/index_signin.html" class="header__action--login">Log in</a>
          <a href="/templates/index_signup.html" class="btn header__action--signup">Sign up</a>
        </div>
      </div>
    </header>

    <!-- main -->
    <main>

        <!-- hero-->
        <section class="hero">
            <img
              class="hero__img "
              src="/asses/img/Plane_Search.svg"
              alt="Plane_0"
            />
            <div class="hero__content">
              <h1 class="hero__heading">Reservation List</h1>
        </section>

        <!-- result 1-->
        <section class="result">
          <div class="container"> 
            <div class="result__container">
              <div class="information">

                <div class="class__result">
                  <div class="class"><h1 class="res-ticketid">DC01</h1> </div>
                  <div class="class"><h1 class="res-class">ECONOMY CLASS</h1></div></div>

                <div class="pnrfromto__result">
                  <div class="pnr__result">
                    <h1 class="res-from-to">PNR</h1>    
                    <p class="res-name">VN101</p>
                  </div>
                  <div class="from__result">
                    <h1 class="res-from-to">FROM</h1>
                    <p class="res-name">HCM</p>
                  </div>
    
                  <div class="to__result">
                    <h1 class="res-from-to">TO</h1>
                    <p class="res-name">HNA</p>
                  </div>
                </div>

                <div class="das_result">
                    <div class="seat__result">
                      <h1 class="res_feature">SEAT</h1>    
                      <p class="res_time">A01</p>
                    </div>
                    <div class="departure__result">
                      <h1 class="res_feature">DEPARTURE</h1>    
                      <p class="res_date">20-5-2024</p>
                      <p class="res_time">08:30</p>
                    </div>
                    
                      <div class="arrival__result">
                        <h1 class="res_feature">ARRIVAL</h1>    
                        <p class="res_date">20-5-2024</p>
                        <p class="res_time">09:30</p>
                      </div>
                </div>
              </div>

              <div class="airplane">
                <div class="airplane-ticket">
                  <div class="airtic">
                  </div>
                  <div class="res-thanks">
                    Thank you for choosing us 
                  </div>
                  <span class="res-remind">
                    Please be at the gate at boarding time
                  </span>
                </div>
              </div>  
            </div>
          </div>
        </section>

        <!-- result 2-->
        <section class="result">
          <div class="container"> 
            <div class="result__container">
                <div class="information">
                <div class="class__result">
                  <div class="class">
                    <h1 class="res-ticketid">DC02</h1>
                  </div>
                  <div class="class">
                    <h1 class="res-class">PRESTIGE CLASS</h1>
                  </div>
                </div>

                <div class="pnrfromto__result">
                  <div class="pnr__result">
                    <h1 class="res-from-to">PNR</h1>    
                    <p class="res-name">VN102</p>
                  </div>
                    <div class="from__result">
                      <h1 class="res-from-to">FROM</h1>
                      <p class="res-name">HCM</p>
                    </div>
    
                    <div class="to__result">
                      <h1 class="res-from-to">TO</h1>
                      <p class="res-name">GMP</p>
                    </div>
                </div>

                <div class="das_result">

                    <div class="seat__result">
                      <h1 class="res_feature">SEAT</h1>    
                      <p class="res_time">VIP01</p>
                    </div>
                    <div class="departure__result">
                      <h1 class="res_feature">DEPARTURE</h1>    
                      <p class="res_date">25-5-2024</p>
                      <p class="res_time">09:30</p>
                    </div>
                    
                      <div class="arrival__result">
                        <h1 class="res_feature">ARRIVAL</h1>    
                        <p class="res_date">25-5-2024</p>
                        <p class="res_time">16:30</p>
                      </div>
                  </div>
              </div>

              <div class="airplane">
                <div class="airplane-ticket">
                  <div class="airtic">
                  </div>
                  <div class="res-thanks">
                    Thank you for choosing us 
                  </div>
                  <span class="res-remind">
                    Please be at the gate at boarding time
                  </span>
                </div>
              </div>  
            </div>
          </div>
        </section>
    </main>
  </body>
</html>
